[Desktop Entry]
Encoding=UTF-8
Name=CowBoxer
GenericName=Qt4 utility for edditing tesseract-ocr box traning files.
GenericName[en]=Qt4 utility for edditing tesseract-ocr box traning files.
GenericName[sk]=Qt4 nástroj na editovanie box súborov pre trénovanie programu tesseract-ocr.
Comment=Qt4 editor for tesseract-ocr box traning file.
Comment[en]=Qt4 editor for tesseract-ocr box traning file.
Comment[sk]=Qt4 editor pre box súbory pre trénovanie programu tesseract-ocr.
Exec=cowboxer %f
Terminal=false
Type=Application
Icon=cowboxer
Categories=Development;Qt;System;Editor;OCR;
StartupNotify=true
MimeType=application/x-ms-dos-executable;text/plain;text/x-box;
X-KDE-StartupNotify=false
#http://standards.freedesktop.org/desktop-entry-spec/latest/index.html
